/*************************** work area *****************************/

/*공통버튼 DIV*/
Div.styFormButtonList
{
	background		: #ffffff00 ;
	border			: 0 none ;
}
/* 예외팝업 DIV*/
Div.divFile
{
	background		: #ffffff;
	border			: 1 solid #858585 ;
}
/* Myinfo PopupDiv */
PopupDiv.pdiv_WF_insert, PopupDiv.pdiv_WF_insert:mouseover
{
	background		: URL('theme://images/Div_Pop_Bg.png') stretch 20,20;
}

/* 상단 나의정보 PopupDiv */
Static.sty_WF_Myinfo, Static.sty_WF_Myinfo:mouseover
{
	background		: transparent URL('theme://images/Div_Pop_Bg2.png') stretch 20,60;
}
/* 예외팝업 타이틀*/
Static.styFileTitle, Static.styFileTitle:mouseover
{
	background		: #5693e0;
	border			: 0 none;
	align			: left middle ;
	font			: bold 12 Dotum;
	padding 		: 0 0 0 17;
	color 			: #ffffff;
}

/*화면타이틀*/
Static.styFormTitle, Static.styFormTitle:mouseover
{
	align			: left middle ;
	background		: transparent;
	border			: 0 none ;
	font			: bold 12 Dotum;
	padding 		: 9 0 0 27;
	color 			: #3b3f4c;
}

/*조회영역*/
Static.styFormSearchBox, Static.styFormSearchBox:mouseover
{
	background			: #eff5fc;
	border				: 1 solid #a0c5ed;
}

/*네비게이션*/
Static.styFormLocation, Static.styFormLocation:mouseover
{
	align			: right middle;
	background		: transparent;
	font			: 9 Dotum ;
	padding 		: 8 0 0 0;
	color			: #888888;
}

/*조회/상세 라벨*/
Static.styFormSearchCap, Static.styFormSearchCap:mouseover, 
Static.styFormItemCap, Static.styFormItemCap:mouseover
{
	align			: left middle;
	background 		: transparent;
	border			: 0 none ;
	color			: #333333 ;
	font 			: bold 9 Dotum ;
	padding 		: 1 0 0 10 ;
}
/*조회/상세 라벨_필수*/
Static.styFormSearchCapBe, Static.styFormSearchCapBe:mouseover, 
Static.styFormItemCapBE, Static.styFormItemCapBE:mouseover
{
	align			: left middle;
	background		: transparent URL('theme://images/sta_WF_Label_P.png') left middle;
	border			: 0 none ;
	color			: #333333 ;
	font 			: bold 9 Dotum ;
	padding 		: 1 0 0 10 ;
}
/*조회/상세 서브라벨*/
Static.styFormSubCap, Static.styFormSubCap:mouseover
{
	align			: left middle;
	background		: transparent URL('theme://images/sta_WF_SubLabel.png') left middle;
	border			: 0 none ;
	color			: #333333 ;
	font 			: 9 Dotum ;
	padding 		: 1 0 0 8 ;
}
/*조회/상세 서브라벨_필수*/
Static.styFormSubCapBe, Static.styFormSubCapBe:mouseover
{
	align			: left middle;
	background		: transparent URL('theme://images/sta_WF_SubLabel_P.png') left middle;
	border			: 0 none ;
	color			: #333333 ;
	font 			: 9 Dotum ;
	padding 		: 1 0 0 8 ;
}

/*그리드 조회건수*/
Static.styFormSearchInfo, Static.styFormSearchInfo:mouseover
{
	align			: left top ;
	font			: 9 Dotum ;
	color			: #333333 ;
	padding 		: 4 0 0 0 ;
}

/*Help Popup Static Image 처리(Search 돋보기 버튼)*/
Static.sytHelpPopup, Static.sytHelpPopupInput
{
	background		: transparent URL('theme://images/sta_WF_HelpPopup.png') ;
	border			: 0 none;
	bordertype		: normal 0 0;
}
Static.sytHelpPopup:mouseover, Static.sytHelpPopupInput:mouseover
{
	background		: transparent URL('theme://images/sta_WF_HelpPopup_O.png') ;
}
Static.sytHelpPopup:disabled, Static.sytHelpPopupInput:disabled
{
	background		: transparent URL('theme://images/sta_WF_HelpPopup_D.png') ;
}

/*상세영역 박스*/
Static.styFormItemBoxOut, Static.styFormItemBoxOut:mouseover
{
	background		: #ffffffff ;
	border			: 1 solid #cbcbcb ;
}

/*세로 라인*/
Static.sta_WF_line, Static.sta_WF_line:mouseover
{
	border			: 0 none, 0 solid #cacaca, 0 none, 1 solid #cacaca ;
	bordertype		: normal 0 0;
}
/************** 상세영역 **************************/
Static.sta_WF_Label, Static.sta_WF_Label:mouseover
{
	background			: #f7f7f7;
	border				: 1 solid #cfd0d1;
	padding				: 1 0 0 17;
	color				: #404654;
}
/** 필수입력라벨 **/
Static.sta_WF_Label_P, Static.sta_WF_Label_P:mouseover
{
	background			: #f7f7f7 URL('theme://images/sta_WF_Label_P1.png') left middle;
	border				: 1 solid #cfd0d1;
	padding				: 1 0 0 17;
	color				: #404654;
}
/*** 라벨중앙정렬 ***/
Static.sta_WF_Label_C, Static.sta_WF_Label_C:mouseover
{
	background			: #f7f7f7;
	border				: 1 solid #cfd0d1;
	align				: center middle;
	color				: #404654;
}
Static.sta_WF_Label_CT, Static.sta_WF_Label_CT:mouseover
{
	background			: #ecececff;
	border				: 1 solid #cfd0d1;
	align				: center middle;
	color				: #686868ff;
	font				: bold 9 Dotum;
}
/***/
Static.sta_WF_Labelbg, Static.sta_WF_Labelbg:mouseover
{
	background			: #ffffff;
	border				: 1 solid #cfd0d1;
	padding				: 1 0 0 14;
}
/** 라인 **/
Static.sta_WF_LabelLine, Static.sta_WF_LabelLine:mouseover
{
	background			: transparent;
	border				: 2 solid #888888, 0 none, 0 none, 0 none;
}

/************* Static 타이틀 **********************/
Static.sta_WF_Subtitle, Static.sta_WF_Subtitle:mouseover, 
Static.stySubTitle, Static.stySubTitle:mouseover,
Static.styFormItemTitle, Static.styFormItemTitle:mouseover
{
	background			: URL('theme://images/sta_WF_Subtitle.png') left middle;
	color				: #333333;
	font				: bold 9 Dotum;	
	padding				: 0 0 0 17;		
}
Static.sta_WF_Subtitle02, Static.sta_WF_Subtitle02:mouseover
{
	background			: URL('theme://images/sta_WF_Subtitle02.png') left middle;
	color				: #333333;
	font				: bold 9 Dotum;	
	padding				: 1 0 0 17;		
}
Static.sta_WF_Subtitle03, Static.sta_WF_Subtitle03:mouseover
{
	background			: transparent;
	color				: #333333;
	font				: bold 9 Dotum;	
	padding				: 1 0 0 0;		
}
/** 디스크립션 **/
Static.sta_WF_Desc01, Static.sta_WF_Desc01:mouseover
{
	background			: URL('theme://images/sta_WF_Desc01.png') left middle;
	color				: #666666;
	padding				: 0 0 0 9;
}
Static.sta_WF_Desc02, Static.sta_WF_Desc02:mouseover
{
	background			: URL('theme://images/sta_WF_Desc02.png') left top;
	color				: #666666;
	padding				: 0 0 0 9;
	align				: left top;
	linespace			: 4;
}
/***/
Static.sta_WF_Info, Static.sta_WF_Info:mouseover
{
	background			: transparent URL('theme://images/sta_WF_Info.png') left middle;
	padding				: 0 0 0 17;
	color				: #666666;
}

/***즐겨찾기 아이콘***/
Button.btn_WF_Bookmark, Button.btn_WF_Bookmark:focused, Button.btn_WF_Bookmark:selected, Button.btn_WF_Bookmark:disabled
{
	background 		: URL('theme://images/btn_WF_Bookmark.png');
	border			: 0 none;
	font			: 12 Dotum;
	padding			: 0 0 0 0;
}
Button.btn_WF_Bookmark:mouseover
{
	background 		: URL('theme://images_B/btn_WF_Bookmark_O.png');
	border			: 0 none;
	font			: 12 Dotum;
	padding			: 0 0 0 0;
}
Button.btn_WF_Bookmark:pushed
{
	background 		: URL('theme://images_B/btn_WF_Bookmark_S.png');
	border			: 0 none;
	padding			: 0 0 0 0;
}
Button.btn_WF_Bookmark_S, Button.btn_WF_Bookmark_S:focused, Button.btn_WF_Bookmark_S:selected, Button.btn_WF_Bookmark_S:disabled, Button.btn_WF_Bookmark_S:mouseover, Button.btn_WF_Bookmark_S:pushed
{
	background 		: URL('theme://images_B/btn_WF_Bookmark_O.png');
	border			: 0 none;
	padding			: 0 0 0 0;
}

/*상단 공통버튼 CRUD BTN */
Button.btn_WF_CRUD
{
	background		: #5698e0;
	border			: 0 none;
	bordertype		: round 0 0;
	color			: #ffffff;
	font			: bold 9 Dotum;
}
Button.btn_WF_CRUD:mouseover
{
	background		: #0078d7;
	border			: 0 none;
	bordertype		: round 0 0;
	color			: #ffffff;
	font			: bold 9 Dotum;		
}
Button.btn_WF_CRUD:pushed, Button.btn_WF_CRUD:focused, Button.btn_WF_CRUD:selected
{
	background		: #2361c8;
	border			: 0 none;
	bordertype		: round 0 0;
	color			: #ffffff;
	font			: bold 9 Dotum;	
}

Button.btn_WF_CRUD:disabled
{
	background		: #c9cdd3;
	border			: 0 none;
	bordertype		: round 0 0;	
	color			: #ffffff;
	font			: bold 9 Dotum;		
}
/*CRUD BTN_새창버튼 */
Button.btn_WF_CRUD1
{
	background		: #6a7a96 URL('theme://images/btn_WF_CRUD1.png') center middle;
	border			: 0 none;
	bordertype		: round 0 0;
	color			: #ffffff;
	font			: bold 9 Dotum;
}
Button.btn_WF_CRUD1:mouseover
{
	background		: #50617e URL('theme://images/btn_WF_CRUD1.png') center middle;
	border			: 0 none;
	bordertype		: round 0 0;
	color			: #ffffff;
	font			: bold 9 Dotum;		
}
Button.btn_WF_CRUD1:pushed, Button.btn_WF_CRUD1:focused, Button.btn_WF_CRUD1:selected
{
	background		: #2361c8 URL('theme://images/btn_WF_CRUD1.png') center middle;
	border			: 0 none;
	bordertype		: round 0 0;
	color			: #ffffff;
	font			: bold 9 Dotum;	
}
Button.btn_WF_CRUD1:disabled
{
	background		: #c9cdd3 URL('theme://images/btn_WF_CRUD1.png') center middle;
	border			: 0 none;
	bordertype		: round 0 0;	
	color			: #ffffff;
	font			: bold 9 Dotum;		
}
/*CRUD BTN_닫기버튼 */
Button.btn_WF_CRUD2
{
	background		: #6a7a96 URL('theme://images/btn_WF_CRUD2.png') center middle;
	border			: 0 none;
	bordertype		: round 0 0;
	color			: #ffffff;
	font			: bold 9 Dotum;
}
Button.btn_WF_CRUD2:mouseover
{
	background		: #50617e URL('theme://images/btn_WF_CRUD2.png') center middle;
	border			: 0 none;
	bordertype		: round 0 0;
	color			: #ffffff;
	font			: bold 9 Dotum;		
}
Button.btn_WF_CRUD2:pushed, Button.btn_WF_CRUD2:focused, Button.btn_WF_CRUD2:selected
{
	background		: #2361c8 URL('theme://images/btn_WF_CRUD2.png') center middle;
	border			: 0 none;
	bordertype		: round 0 0;
	color			: #ffffff;
	font			: bold 9 Dotum;	
}
Button.btn_WF_CRUD2:disabled
{
	background		: #c9cdd3 URL('theme://images/btn_WF_CRUD2.png') center middle;
	border			: 0 none;
	bordertype		: round 0 0;	
	color			: #ffffff;
	font			: bold 9 Dotum;		
}

/*** Module BTN (공통 커스텀버튼 및 블럭버튼) ***/
Button.btn_WF_Module, Button.styTextButtonBizProc
{
	background		: #ffffff;
	border			: 1 solid #9b9b9b;
	bordertype		: round 0 0;
	color			: #333333;
	font			: 9 Dotum;
}
Button.btn_WF_Module:mouseover, Button.styTextButtonBizProc:mouseover
{
	background		: #f1f8ff;
	border			: 1 solid #146ebc;
	bordertype		: round 0 0;
	color			: #0852a0;
	font			: 9 Dotum;		
}
Button.btn_WF_Module:pushed, Button.btn_WF_Module:focused, Button.btn_WF_CRUD:selected, 
Button.styTextButtonBizProc:pushed, Button.styTextButtonBizProc:focused, Button.styTextButtonBizProc:selected
{
	background		: #458ddb;
	border			: 1 solid #3864c8;
	bordertype		: round 0 0;
	color			: #ffffff;
	font			: 9 Dotum;	
}
Button.btn_WF_Module:disabled, Button.styTextButtonBizProc:disabled
{
	background		: #f4f4f4;
	border			: 1 solid #d5d5d5;
	bordertype		: round 0 0;	
	color			: #aeaeae;
	font			: 9 Dotum;		
}

/** 팝업 하단 BTN **/
Button.btn_POP_CRUD
{
	background		: #ffffff;
	border			: 1 solid #aaaaaa;
	bordertype		: round 2 2;
	color			: #555555;
	font			: bold 9 Dotum;
}
Button.btn_POP_CRUD:mouseover, Button.btn_POP_CRUD:focused, Button.btn_POP_CRUD:selected
{
	background		: #ffffff;
	border			: 1 solid #50617e;
	bordertype		: round 2 2;
	color			: #364151;
	font			: bold 9 Dotum;
}
Button.btn_POP_CRUD:pushed
{
	background		: #50617e;
	border			: 1 solid #3a4861;
	bordertype		: round 2 2;
	color			: #ffffff;
	font			: bold 9 Dotum;
}
Button.btn_POP_CRUD:disabled
{
	background		: #f4f4f4;
	border			: 1 solid #d5d5d5;
	bordertype		: round 2 2;
	color			: #aeaeae;
	font			: bold 9 Dotum;
}

/** Edit 조회 BTN **/
Button.btn_WF_Search
{
	image			: URL('theme://images/btn_WF_Search.png');
	imagealign		: center middle;	
}
Button.btn_WF_Search:mouseover
{
	image			: URL('theme://images/btn_WF_Search_O.png');
	imagealign		: center middle;	
}
Button.btn_WF_Search:pushed, Button.btn_WF_Search:focused, Button.btn_WF_Search:selected
{
	image			: URL('theme://images/btn_WF_Search_P.png');
	imagealign		: center middle;	
}
Button.btn_WF_Search:disabled
{
	image			: URL('theme://images/btn_WF_Search_D.png');
	imagealign		: center middle;	
}

/*** 셔틀 BTN ***/
Button.btn_WF_ShuttleR
{
	image			: URL('theme://images/btn_WF_ShuttleR.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleR:mouseover
{
	image			: URL('theme://images/btn_WF_ShuttleR.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleR:pushed, Button.btn_WF_ShuttleR:focused, Button.btn_WF_ShuttleR:selected
{
	image			: URL('theme://images/btn_WF_ShuttleR_P.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleR:disabled
{
	background		:#f4f4f4;
	image			: URL('theme://images/btn_WF_ShuttleR_D.png');
	imagealign		: center middle;	
}
/***/
Button.btn_WF_ShuttleR2
{
	image			: URL('theme://images/btn_WF_ShuttleR2.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleR2:mouseover
{
	image			: URL('theme://images/btn_WF_ShuttleR2.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleR2:pushed, Button.btn_WF_ShuttleR2:focused, Button.btn_WF_ShuttleR2:selected
{
	image			: URL('theme://images/btn_WF_ShuttleR2_P.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleR2:disabled
{
	background		:#f4f4f4;
	image			: URL('theme://images/btn_WF_ShuttleR2_D.png');
	imagealign		: center middle;	
}
/***/
Button.btn_WF_ShuttleL
{
	image			: URL('theme://images/btn_WF_ShuttleL.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleL:mouseover
{
	image			: URL('theme://images/btn_WF_ShuttleL.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleL:pushed, Button.btn_WF_ShuttleL:focused, Button.btn_WF_ShuttleL:selected
{
	image			: URL('theme://images/btn_WF_ShuttleL_P.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleL:disabled
{
	background		:#f4f4f4;
	image			: URL('theme://images/btn_WF_ShuttleL_D.png');
	imagealign		: center middle;	
}
/***/
Button.btn_WF_ShuttleL2
{
	image			: URL('theme://images/btn_WF_ShuttleL2.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleL2:mouseover
{
	image			: URL('theme://images/btn_WF_ShuttleL2.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleL2:pushed, Button.btn_WF_ShuttleL2:focused, Button.btn_WF_ShuttleL2:selected
{
	image			: URL('theme://images/btn_WF_ShuttleL2_P.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleL2:disabled
{
	background		:#f4f4f4;
	image			: URL('theme://images/btn_WF_ShuttleL2_D.png');
	imagealign		: center middle;	
}
/***/
Button.btn_WF_ShuttleU
{
	image			: URL('theme://images/btn_WF_ShuttleU.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleU:mouseover
{
	image			: URL('theme://images/btn_WF_ShuttleU.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleU:pushed, Button.btn_WF_ShuttleU:focused, Button.btn_WF_ShuttleU:selected
{
	image			: URL('theme://images/btn_WF_ShuttleU_P.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleU:disabled
{
	background		:#f4f4f4;
	image			: URL('theme://images/btn_WF_ShuttleU_D.png');
	imagealign		: center middle;	
}
/***/
Button.btn_WF_ShuttleD
{
	image			: URL('theme://images/btn_WF_ShuttleD.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleD:mouseover
{
	image			: URL('theme://images/btn_WF_ShuttleD.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleD:pushed, Button.btn_WF_ShuttleD:focused, Button.btn_WF_ShuttleD:selected
{
	image			: URL('theme://images/btn_WF_ShuttleD_P.png');
	imagealign		: center middle;	
}
Button.btn_WF_ShuttleD:disabled
{
	background		:#f4f4f4;
	image			: URL('theme://images/btn_WF_ShuttleD_D.png');
	imagealign		: center middle;	
}

/************************* readonly 스타일 ************************/
Edit.edt_WF_Readonly, Edit.edt_WF_Readonly:mouseover, Edit.edt_WF_Readonly:focused, Edit.edt_WF_Readonly:disabled
{
	background			: #f4f4f4;
	border				: 1 solid #d5d5d5;
}
/***/
MaskEdit.msk_WF_Readonly, MaskEdit.msk_WF_Readonly:mouseover, MaskEdit.msk_WF_Readonly:focused, MaskEdit.msk_WF_Readonly:disabled
{
	background			: #f4f4f4;
	border				: 1 solid #d5d5d5;
}
/***/
TextArea.txt_WF_Readonly, TextArea.txt_WF_Readonly:mouseover, TextArea.txt_WF_Readonly:focused, TextArea.txt_WF_Readonly:disabled
{
	background			: #f4f4f4;
	border				: 1 solid #d5d5d5;
}
/***/
Combo.cmb_WF_Readonly, Combo.cmb_WF_Readonly:mouseover, Combo.cmb_WF_Readonly:focused, Combo.cmb_WF_Readonly:selected, Combo.cmb_WF_Readonly:disabled
{
	background			: #f4f4f4;
	border				: 1 solid #d5d5d5;
}
Combo.cmb_WF_Readonly>#dropbutton, Combo.cmb_WF_Readonly>#dropbutton:mouseover, Combo.cmb_WF_Readonly>#dropbutton:pushed
{
	image				: URL('theme://images/btn_drop_N.png');
}
/***/
Calendar.cal_WF_Readonly, Calendar.cal_WF_Readonly:mouseover, Calendar.cal_WF_Readonly:focused, Calendar.cal_WF_Readonly:selected, Calendar.cal_WF_Readonly:disabled
{
	background			: #f4f4f4;
	border				: 1 solid #d5d5d5;
}
/***/
Spin.spn_WF_Readonly, Spin.spn_WF_Readonly:mouseover, Spin.spn_WF_Readonly:focused, Spin.spn_WF_Readonly:pushed, Spin.spn_WF_Readonly:disabled
{
	background			: #f4f4f4;
	border				: 1 solid #d5d5d5;
}
Spin.spn_WF_Readonly>#spinupbutton, Spin.spn_WF_Readonly>#spinupbutton:mouseover, Spin.spn_WF_Readonly>#spinupbutton:pushed 
{
	image				: URL('theme://images/btn_spinup_D.png');
}
Spin.spn_WF_Readonly>#spindownbutton, Spin.spn_WF_Readonly>#spindownbutton:mouseover, Spin.spn_WF_Readonly>#spindownbutton:pushed
{
	image				: URL('theme://images/btn_spindown_D.png');
}

/************* grd_cell_class START ******************/
/** head 필수입력 grd **/
.Cellgrd_WF_essential
{
	background          		: transparent URL('theme://images/ico_grd_essential.png') left top;
}
.Cellgrd_WF_edit
{
	background          		: transparent URL('theme://images/ico_grd_edit.png') left top;
}
/*** grd_cell_link_data(head/body) ***/
.Cellgrd_WF_HeadLink
{
	color				: #656565;
	color2				: #656565;	
	font 				: underline 9 Dotum;	
	font2 				: underline 9 Dotum;	
	selectcolor			: #656565;
	selectfont			: underline 9 Dotum;
}
.Cellgrd_WF_BodyLink
{
	color				: #004db7;
	color2				: #004db7;	
	font 				: underline 9 Dotum;	
	font2 				: underline 9 Dotum;	
	selectcolor			: #004db7;
	selectfont			: underline 9 Dotum;
}
/** 좌측헤드타입 스타일 grd **/
.Cellgrd_WF_Head
{
	background			: #f6f6f6;
}
/*** 소계1,2,3 ***/
.Cellgrd_WF_sum01
{
	background			: #f8f8d1;
	background2			: #f8f8d1;
	font 				: 9 Dotum;	
	font2 				: 9 Dotum;
	color				: #333333;
	color2				: #333333;	
	align				: right middle;	
	border				: 1 solid #d2c7c2;
	cellline			: 1 solid #d2c7c2;				
}
.Cellgrd_WF_sum02
{
	background			: #e8fedc;
	background2			: #e8fedc;
	font 				: 9 Dotum;	
	font2 				: 9 Dotum;
	color				: #333333;
	color2				: #333333;	
	align				: right middle;	
	border				: 1 solid #d2c7c2;
	cellline			: 1 solid #d2c7c2;	
}
.Cellgrd_WF_sum03
{
	background			: #e0faf8;
	background2			: #e0faf8;
	font 				: 9 Dotum;	
	font2 				: 9 Dotum;
	color				: #333333;
	color2				: #333333;	
	align				: right middle;	
	border				: 1 solid #d2c7c2;
	cellline			: 1 solid #d2c7c2;				
}
/************* grd_cell_class END ******************/

/************* 2depth Tab ******************/
Tab.tab_2depth
{
	background		: transparent URL('theme://images_B/bg_tab_BtnArea2.png') repeat-x;
	border			: 0 none, 1 solid #e1e1e1, 1 solid #e1e1e1, 1 solid #e1e1e1;
	bordertype		: normal ;
	align			: center middle;
	font 			: 9 Dotum;
	color 			: #7a7f8e;
	buttonborder		: 0 none;
	buttonbackground	: URL('theme://images/bg_tab2.png') stretch 3,3;
	buttonpadding		: 3 22 3 22;
	buttonmargin 		: 0 0 0 0 ;
	cursor 			: auto ;
}
Tab.tab_2depth:mouseover
{
	color			: #656c81;
	buttonbackground	: URL('theme://images/bg_tab2_O.png') stretch 3,3;
}
Tab.tab_2depth:selected, Tab.tab_2depth:focused
{
	font			: 9 Dotum;
	color			: #ffffff;
	buttonbackground	: URL('theme://images/bg_tab2_S.png') stretch 3,3;
}
Tab.tab_2depth>Tabpage
{
	accessibility	: ;
	background	: white;
	cursor	: ;
	gradation	: ;
	letterspace	: ;
	opacity	: ;
	padding	: ;
	stepalign	: ;
}




/******************* 월력 디자인 START ************************/
/** prev/next BTN **/
Button.btn_WF_CalPrev, Button.btn_WF_CalPrev:focused, Button.btn_WF_CalPrev:selected
{
	background		: transparent;
	border			: 0 none;
	image			: URL('theme://images/btn_prev_N.png');
	imagealign		: center middle;
	padding			: 0 0 0 0;
}
Button.btn_WF_CalPrev:mouseover, Button.btn_WF_CalPrev:pushed
{
	background		: transparent;
	border			: 0 none;
	image			: URL('theme://images/btn_prev_O.png');
	imagealign		: center middle;
	padding			: 0 0 0 0;
}
Button.btn_WF_CalPrev:disabled
{
	background		: transparent;
	border			: 0 none;
	image			: URL('theme://images/btn_prev_D.png');
	imagealign		: center middle;
	padding			: 0 0 0 0;
}
/***/
Button.btn_WF_CalNext, Button.btn_WF_CalNext:focused, Button.btn_WF_CalNext:selected
{
	background		: transparent;
	border			: 0 none;
	image			: URL('theme://images/btn_next_N.png');
	imagealign		: center middle;
	padding			: 0 0 0 0;
}
Button.btn_WF_CalNext:mouseover, Button.btn_WF_CalNext:pushed
{
	background		: transparent;
	border			: 0 none;
	image			: URL('theme://images/btn_next_O.png');
	imagealign		: center middle;
	padding			: 0 0 0 0;
}
Button.btn_WF_CalNext:disabled
{
	background		: transparent;
	border			: 0 none;
	image			: URL('theme://images/btn_next_D.png');
	imagealign		: center middle;
	padding			: 0 0 0 0;
}
/***/
Button.btn_WF_Calmm, Button.btn_WF_Calmm:disabled
{
	background		: #fafafa;
	border			: 0 none;
	image			: ;
	imagealign		: center top;
	font			: bold antialias 15 Tahoma;
	color			: #555555;
	padding			: 0 0 6 0;	
	align			: center bottom;	
}
Button.btn_WF_Calmm:mouseover
{
	background		: #e9e9e9;
	border			: 0 none;
	image			: ;
	imagealign		: center top;
	font			: bold antialias 15 Tahoma;
	color			: #555555;
	padding			: 0 0 6 0;	
	align			: center bottom;	
}
Button.btn_WF_Calmm:pushed, Button.btn_WF_Calmm:focused, Button.btn_WF_Calmm:selected
{
	background		: #ffa6a5;
	border			: 0 none;
	image			: ;
	imagealign		: center top;
	font			: bold antialias 15 Tahoma;
	color			: #555555;
	padding			: 0 0 6 0;	
	align			: center bottom;	
}
/***/
Button.btn_WF_Calmm_S, Button.btn_WF_Calmm_S:disabled, Button.btn_WF_Calmm_S:mouseover, Button.btn_WF_Calmm_S:pushed, Button.btn_WF_Calmm_S:focused, Button.btn_WF_Calmm_S:selected
{
	background		: #ffa6a5;
	border			: 0 none;
	image			: ;
	imagealign		: center top;
	font			: bold antialias 15 Tahoma;
	color			: #555555;
	padding			: 0 0 6 0;	
	align			: center bottom;	
}
/***/
Div.div_WF_Calendar
{
	background		: URL('theme://images/div_WF_Calendar.png') stretch 10,30;	
}
/****/
Edit.edt_WF_Calendaryy, Edit.edt_WF_Calendaryy:mouseover, Edit.edt_WF_Calendaryy:focused, Edit.edt_WF_Calendaryy:disabled
{
	align			: center middle;
	background		: transparent;
	border			: 0 none;
	color			: #ffffff;
	font			: bold 11 Dotum;
	padding			: 0 0 0 0;
}
/******************* 월력 디자인 END ************************/

/** 공통컴퍼넌트 캘린더 BTN **/
Button.btn_WF_ComCal, Button.btn_WF_ComCal:focused, Button.btn_WF_ComCal:selected,
Button.btn_WF_ComCal:mouseover, Button.btn_WF_ComCal:pushed
{
	accessibility		: ;
	align			: center middle;
	background		: transparent;
	border			: 0 none;
	image			: URL('theme://images/btn_CalDrop_N.png');
	imagealign		: center middle;
	padding			: 1 0 0 0;
}
Button.btn_WF_ComCal:disabled
{
	align			: center middle;
	background		: transparent;
	border			: 0 none;
	image			: URL('theme://images/btn_CalDrop_D.png');
	imagealign		: center middle;
}
/***/
Calendar.cal_WF_ComCal
{
	buttonsize		: 0;
}	
Calendar.cal_WF_ComCal>#dropbutton, Calendar.cal_WF_ComCal>#dropbutton:mouseover, Calendar.cal_WF_ComCal>#dropbutton:pushed
{
	align			: ;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal;
	cursor			: hand;
	image			: URL('theme://images/dummy.png');
	imagealign		: center middle;
	padding			: 1 0 0 0;	
}
Calendar.cal_WF_ComCal>#dropbutton:disabled
{
	image			: URL('theme://images/dummy.png');
}


/******************* Error 화면 디자인 **********************/
Div.div_WF_ErrorBg, Div.div_WF_ErrorBg:mouseover
{
   background      		: transparent URL('theme://images/sta_WF_Errorbg.png') repeat-x;
}
Static.sta_WF_ErrorImg01, Static.sta_WF_ErrorImg01:mouseover
{
   background    		: transparent URL('theme://images/sta_WF_ErrorImg01.png') center middle;
}
Static.sta_WF_ErrorImg02, Static.sta_WF_ErrorImg02:mouseover
{
   background    		: transparent URL('theme://images/sta_WF_ErrorImg02.png') center middle;
}
Static.sta_WF_ErrorTitle, Static.sta_WF_ErrorTitle:mouseover
{
   color        		: #2279c8;
   font       			: 18 Dotum;
}

/******************* Calendar(휴일관리 달력)************************/
Static.styCalendarHead, Static.styCalendarHead:mouseover
{
	font 			: 9 Dotum;
	background 		: #f8f8f8 ;
	align			: center ;
	color 			: #777777 ;
	border 			: 2 solid #858585, 0 none, 1 solid #cacaca, 0 none;
}
Static.styCalendarHeadSun, Static.styCalendarHeadSun:mouseover
{
	font 			: 9 Dotum;
	background 		: #f8f8f8;
	align 			: center ;
	color 			: #f33c3c ;
	border 			: 2 solid #858585, 1 solid #cacaca, 1 solid #cacaca, 1 solid #cacaca;	
}
Static.styCalendarHeadSat, Static.styCalendarHeadSat:mouseover
{
	font 			: 9 Dotum;
	background 		: #f8f8f8 ;
	align 			: center ;
	color 			: #267cdb ;
	border 			: 2 solid #858585, 1 solid #cacaca, 1 solid #cacaca, 0 none;	
}
Static.styCalendarDate, Static.styCalendarDate:mouseover
{	
	align 			: left ;
	font 			: 11 Dotum;
	padding 		: 0 0 0 1 ;
	color			: #333333;
}
Static.styCalendarHoly, Static.styCalendarHoly:mouseover
{
	align 			: left ;
	font 			: 9 Dotum;
	padding 		: 0 0 0 4 ;
	color			: #555555;
}
Static.styCalendarTitle, Static.styCalendarTitle:mouseover
{
	color : #666666ff ;
	font : bold 12 Dotum;
	align : center middle ;	
}

Div.styCalendarDivDate
{	border 			: 1 solid #cacaca;	
        background 		: transparent ;
	
}
Div.styCalendarDiv
{	border 			: 0 none, 0 none, 1 solid #e9e9e9, 0 none;	
        background 		: transparent ;
	
}

/******************* Work 알림 팝업************************/
Static.sta_WF_worktext1, Static.sta_WF_worktext1:mouseover
{
	background		: transparent URL('theme://images/bg_WF_workpop.png') stretch 50,50;
	border			: 0 none;
	bordertype		: normal ;
	color			: #333333;
	font			: 11 Dotum;
	padding			: 0 0 0 25;
	align			: left middle;
}

/******************* 우측 나의정보 팝업DIV 관련 ************************/
Static.sta_WF_mybox1, Static.sta_WF_mybox1:mouseover
{
	background		: #e7eef4;
	border			: 0 none;
	bordertype		: round 5 5;
}
Static.sta_WF_mybox2, Static.sta_WF_mybox2:mouseover
{
	background		: #f6f6f6;
	border			: 1 solid #e6e6e6, 0 solid #c6c6c5, 1 solid #e6e6e6, 0 solid #c6c6c5;
	bordertype		: normal;
}

/******************* 로그인 관련 ************************/
/* 로그인 DIV */
Div.login_bg,Div.login_bg:mouseover
{	
	border				: 2 solid #dddee4;
}
/* 로그인 카피라이터 */
Static.login_copyright,Static.login_copyright:mouseover
{	
	font 			: 8 Tahoma;
	color 			: #7f7f7f;
}
/*로그인 아이콘*/
Static.sta_login_user, Static.sta_login_user:mouseover
{
	background		: transparent URL('theme://images/ico_user.png') ;
}

Static.sta_login_pass, Static.sta_login_pass:mouseover
{
	background		: transparent URL('theme://images/ico_pass.png') ;
}
/************************* btn_Login_login 로그인 버튼 ************************/
Button.btn_Login_login, Button.btn_Login_login:disabled
{
	background		: #458ddb;
	border			: 0 none;
	bordertype		: round 20 20;
	font			: antialias 14 verdana;
	color			: #ffffff;
	padding 		: 0 20 2 20;
	image			: URL('theme://images/ico_login_arrow.png');
	imagealign		: right middle;

}
Button.btn_Login_login:mouseover, Button.btn_Login_login:selected
{
	background		: #0078d7;
	border			: 0 none;
	bordertype		: round 20 20;
	font			: antialias 14 verdana;
	color			: #ffffff;
	padding 		: 0 20 2 20;
	image			: URL('theme://images/ico_login_arrow.png');
	imagealign		: right middle;
}
Button.btn_Login_login:pushed, Button.btn_Login_login:focused
{
	background		: #2361c8;
	border			: 0 none;
	bordertype		: round 20 20;
	font			: antialias 14 verdana;
	color			: #ffffff;
	padding 		: 0 20 2 20;
	image			: URL('theme://images/ico_login_arrow.png');
	imagealign		: right middle;
}
/************************* 로그인 close버튼 ************************/
Button.btn_Login_close
{
	background 		: URL('theme://images/btn_BT_login_close.png');
	border			: 0 none;
	font			: 12 Dotum;
	padding			: 0 0 0 0;
}
Button.btn_Login_close:mouseover, Button.btn_Login_close:focused, Button.btn_Login_close:selected, Button.btn_Login_close:pushed
{
	background 		: URL('theme://images/btn_BT_login_close_O.png');
	border			: 0 none;
	font			: 12 Dotum;
	padding			: 0 0 0 0;
}

/************************* 로그인 Edit ************************/
Edit.edt_login, Edit.edt_login:mouseover
{
	background		: #ffffff;
	border			: 0 none, 0 none, 1 solid #cfcfcf, 0 none;
	font			: antialias 11 NanumGothic;
	padding 		: 0 10 5 35;
	imagealign		: left middle;	
}

Edit.edt_login:selected, Edit.edt_login:focused
{
	background		: #ffffff;
	border			: 0 none, 0 none, 1 solid #fb507f, 0 none;
	font			: antialias 11 NanumGothic;
	padding 		: 0 10 5 35;
	imagealign		: left middle;
}

/******************* guide ************************/
Static.sta_GID_Title, Static.sta_GID_Title:mouseover
{
	align        		: center middle;
	background     		: #edeee6;
	border         		: 1 solid #c6c6c5;
	color         		: #444444;
	font         		: bold 9 Dotum;  
}
Static.sta_GID_txt, Static.sta_GID_txt:mouseover
{
	color         		: #5300dc;
	font			: 9 Dotum;
}
Static.sta_GID_txt02, Static.sta_GID_txt02:mouseover
{
	color         		: #444444;
	font			: 9 Dotum;	
}
Static.sta_GID_box, Static.sta_GID_box:mouseover
{
	align        		: left middle;
	background     		: #fb7b7b7a;	
}

